body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: background-color 0.5s ease;
}

.nav-item {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    transition: color 0.3s, background 0.3s;
}

.nav-item:hover {
    color: #f1c40f;
    border-bottom: 2px solid #f1c40f;
    padding: 10px;
    
}

section {
    padding: 100px 20px;
    height: 600px;
    border-bottom: 1px dashed #ff0000;
}

.navbar.scrolled {
    background-color: #5c8182;
}